# Extensions
*.csv
*.csv.*
*.exe
*.jpg
*.html
*.png
*.mp4
*.txt
*.pyc
*.aac
*.pem
*.bin
*.key

# Folders
main
*aws-sam/
photos/.env
**/env/**
**/.env
aws/mailtrap/samconfig.toml.private
aws/mailtrap/tmp
pillow/2015.html
samconfig.toml.private