---
const { year } = Astro.props
const response = await fetch(`http://localhost:3000?year=${year}`)
const data = await response.json()
const sortedData = data.sort((a: any, b: any) => a - b)
---

Years
<ul>
    {sortedData.map((item: any) => (
        <li>
            {item}
        </li>
    ))}
</ul>
